html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  background-image: url(./assets/images/image7.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  font-family: Futura, sans-serif;
  max-width: 100%;
  min-height: 100vh;
  height: auto;
}

.logo {
  width: 300px;
}

h2 {
  color: #024873;
}

.links__item {
  display: block;
  max-width: 400px;
  margin: 0 auto 15px;
  margin-bottom: 5px;
  padding: 15px 20px;
  font-size: 0.95rem;
  line-height: 1.5;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: black;
}

.links__item--alumni:hover {
  background-color: #060042;
  color: #fff;
}

.links__item--upcoming:hover {
  background-color: #060042;
  color: #fff;
}

.links__item--promo:hover {
  background-color: #060042;
  color: #fff;
}

.links__item--past-event:hover {
  background-color: #060042;
  color: #fff;
}

.links__item--featured:hover {
  background-color: #060042;
  color: #fff;
}

.links__item--product:hover {
  background-color: #060042;
  color: #fff;
}

.links__item--blog:hover {
  background-color: #060042;
  color: #fff;
}

.links__item .links__item--upcoming {
  border-bottom: 3px solid #f27781;
  box-shadow: inset 0 -4px 0 #f27781;
  border-radius: 25px;
  border: 2px solid #f27781;
}

.links__item .links__item--promo {
  border-bottom: 3px solid #18298c;
  box-shadow: inset 0 -4px 0 #18298c;
  border-radius: 25px;
  border: 2px solid #18298c;
}

.links__item .links__item--past-event {
  border-bottom: 3px solid #079dd9;
  box-shadow: inset 0 -4px 0 #079dd9;
  border-radius: 25px;
  border: 2px solid #079dd9;
}

.links__item .links__item--featured {
  border-bottom: 3px solid #04bf8a;
  box-shadow: inset 0 -4px 0 #04bf8a;
  border-radius: 25px;
  border: 2px solid #04bf8a;
}

.links__item .links__item--product {
  border-bottom: 3px solid #f2b138;
  box-shadow: inset 0 -4px 0 #f2b138;
  border-radius: 25px;
  border: 2px solid #f2b138;
}

.links__item .links__item--alumni {
  border-bottom: 3px solid #f2b807;
  box-shadow: inset 0 -4px 0 #f2b807;
  border-radius: 25px;
  border: 2px solid #f2b807;
}

.links__item .links__item--blog {
  border-bottom: 3px solid #f25041;
  box-shadow: inset 0 -4px 0 #f25041;
  border-radius: 25px;
  border: 2px solid #f25041;
}

.channels {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
}

.channels .channels__item {
  flex: 1;
  margin-right: 10px;
  transition: transform .2s;
}

.channels__item:hover {
  transform: scale(1.5);
}